.page-header{
    text-align: center;
}

.page-header h1{
    font-weight: bold!important;
    font-size:45px!important;
}

.page-header p{
    font-size:18px!important;
}

.container{
    max-width:1004px!important;
}

.no-margin{
    margin-top:0!important;
}